[2018-06-29 07:31] gbenattar opened #2 "Utility functions for Elliptic curve and Big number manipulation"
Create iutility functions for Elliptic curve and Big number manipulation.

[2018-06-30 18:55] gbenattar opened #3 "Setup travis"
Setup travis for CI and automatic unit test. See: https://github.com/dwyl/learn-travis.

[2018-07-01 17:27] gbenattar opened #4 "Brainstorming on unit testing for each protocol step"
I would like to start a thread about how to properly unit test two party ECDSA.
Each function should be tested independently. It is obvious on how to inject edge cases as well as dummy values, the question here is how to unit test that values returned are expected (without any interaction with the other party (E.g. the client).

Thoughts?

[2018-07-01 17:48] gbenattar opened #5 "Forking rust-paillier and merging dev branch for use in 2-party ECDSA"
Rust-paillier https://github.com/mortendahl/rust-paillier contains zk proofs that we need for 2-party ECDSA.

Those proof are currently in a dev branch, if not "mergeable" in master, fork this repo in KZen-networks and merge dev in master.

[2018-07-01 18:17] gbenattar opened #6 "Add unit tests for Modulo trait"
Add unit tests for Modulo trait: https://github.com/KZen-networks/multi-party-ecdsa/blob/master/src/arithmetic/big_gmp.rs#L32.

[2018-07-01 18:18] gbenattar opened #7 "Add meaningful unit test for commitments"
Add proper unit testing for: https://github.com/KZen-networks/multi-party-ecdsa/blob/master/src/cryptographic_primitives/commitments/hash_commitment.rs#L23.

[2018-07-01 18:22] gbenattar opened #8 "Write Rust doc for FirstMsgCommitments."
Write Rust doc (https://doc.rust-lang.org/book/first-edition/documentation.html). Mention in the doc papers, math formula and explanation.

See: https://github.com/KZen-networks/multi-party-ecdsa/blob/master/src/protocols/two_party_ecdsa/lindell_2017_keygen/party_one.rs#L51

[2018-07-01 18:31] omershlo commented on #4
Can you provide a specific example?
Is it a problem to simulate the protocol locally up to a certain point where the function under test is being called ?

[2018-07-02 17:03] gbenattar commented on #3
Merged. Closing.

[2018-07-02 17:03] #3 closed

[2018-07-02 17:04] gbenattar commented on #4
Yes in some way. Ideally you want to 1 unit test for 1 function, and here I am having hard time finding how this can be done for valid input. Maybe we can hard-code them...

[2018-07-02 17:21] gbenattar opened #11 "Write SecondMsgClientProofVerification."
Write SecondMsgClientProofVerification of party 1, it can be inspired by the following code that we wrote in the past. Also make sure to document that properly (or create a follow up issue).

[code]

[2018-07-02 17:24] gbenattar opened #12 "Integrate Paillier for key generation encryption and ZK Proof"
This issue is dependent of https://github.com/KZen-networks/multi-party-ecdsa/issues/5. Code has been added to https://github.com/mortendahl/rust-paillier in order to do this. Need to be use in 2 party ECDSA.

[2018-07-04 06:06] gbenattar opened #14 "Write client discrete log proof"
Write the discrete log proof to be used by both client and server.

[2018-07-04 17:46] omershlo commented on #11
This is all part of protocol 3.1 in https://eprint.iacr.org/2017/552.pdf. specifically in the paper this is being treated as zero knowledge ideal functionality.

[2018-07-04 17:49] gbenattar commented on #6
In addition, assign @mortendahl comment**s** here: https://github.com/KZen-networks/multi-party-ecdsa/pull/1/files/d328f79f9047a4d8bba97b1094e833e6e28d5ada#diff-62173c6de3c73c009873e8fc9f6c3d97R39 and

[2018-07-04 18:29] #11 closed

[2018-07-04 18:29] #14 closed

[2018-07-04 18:43] gbenattar commented on #8
Adding more doc, see: https://github.com/KZen-networks/multi-party-ecdsa/issues/11 for references.

[2018-07-06 13:33] omershlo commented on #12
reference to the relevant papers for the paillier zk proofs are in comments rust-paillier: proofs/correct_key.rs and range_proof.rs
Paillier encryption is being used in Lindell's paper for Key Generation (protocol 3.1) and Signing (protocol 3.2) https://eprint.iacr.org/2017/552.pdf

[2018-07-06 13:33] omershlo commented on #12
reference to the relevant papers for the paillier zk proofs are in comments rust-paillier: proofs/correct_key.rs and range_proof.rs
Paillier encryption is being used in Lindell's paper for Key Generation (protocol 3.1) and Signing (protocol 3.2) https://eprint.iacr.org/2017/552.pdf

[2018-07-06 18:14] gbenattar opened #17 "Un-consistency in unit test test_bit_length_create_commitment"
To reproduce, in: multi-party-ecdsa/src/cryptographic_primitives/commitments/hash_commitment.rs, you can add a for loop in the test itself:

[code]

[code]

[2018-07-06 18:33] gbenattar commented on #12
@omershlo You want to take this?

[2018-07-06 20:45] omershlo commented on #17
good catch. its the same issue with `sample` . I changed the test accordingly.

[2018-07-06 20:53] mortendahl commented on #4
good question. can we test that a protocol is correct at every step? eg, how would we meaningfully test that a commitment made early in a run is as expected? especially since randomness is typically involved and kept private.

thoughts on testing the two parties simultaneously?

[2018-07-07 08:04] omershlo opened #18 "Test migration to ff crate"
https://github.com/zkcrypto/ff contain Traits and utilities for working with finite fields.
Before using it let's test how it can fits in our design. i.e. use it instead of mod_mul or mod_sub

[2018-07-07 08:24] omershlo opened #19 "Migrate to 'group' crate"
https://github.com/zkcrypto/group
depends on #18

would allow us to abstract for many elliptic curves

[2018-07-07 17:12] gbenattar commented on #17
Issue is still present:

[code]

[2018-07-07 20:10] omershlo commented on #17
you are referring to a different bug. I changed the code to handle both of them.
I test now the probability distribution of the bit length. It can still fail but with very very small probability

[2018-07-08 13:29] #6 closed

[2018-07-08 13:42] omershlo opened #20 "Implement signing protocol"
based on protocol 3.2 in https://eprint.iacr.org/2017/552.pdf :
- steps 1,2,3 are identical to Key Generation protocol but with ephemeral secret keys
- steps 4,5 require use of Paillier cryptosystem. Using the same ek and dk from Key Generation protocol. We can use  https://github.com/mortendahl/rust-paillier for Paillier.

[2018-07-09 20:03] omershlo commented on #17
@gbenattar can you check that its ok now please?

[2018-07-09 20:24] mortendahl commented on #12
blocked, waiting for 15/7 release of rust-paillier

[2018-07-09 22:17] mortendahl commented on #18
It seems that the only operations for free are those in the [PrimeFieldRepr](https://docs.rs/ff/0.4.0/ff/trait.PrimeFieldRepr.html) trait.

If that's indeed the cases, and assuming more than that is needed, then I'm not convinced this is the right direction to take: the performance on those select operations is perhaps better than eg GMP and RAMP but it would probably not be the case moving to any

[2018-07-09 22:30] mortendahl commented on #19
(see discussion in #18)

[2018-07-09 23:15] omershlo commented on #18
@mortendahl  Basically what you are saying is that once we will encounter a new required method that either way we will need to implement it will be 1)easier 2)more efficient to implement it directly on top of GMP than using the `u64` limbs to implement it and plug it to the interface ? (I agree)

Question: looking at https://github.com/zkcrypto/ff/blob/master/ff_derive/src/lib.rs it seems that al

[2018-07-14 18:10] omershlo commented on #20
@gbenattar any progress ?

[2018-07-14 18:22] omershlo opened #22 "compare performance with "multiparty ecdsa from ecdsa assumptions""
Secure Two-party Threshold ECDSA from ECDSA Assumptions (https://eprint.iacr.org/2018/499.pdf) is a work done by Doerner et al. The PoC code is provided in https://gitlab.com/neucrypt/mpecdsa . The code is provided under the Three-clause BSD License.  For initial support we should:
- switch to secp256k1 lib  (the original code currently using its own elliptic curve implementation).
- switch to cry

[2018-07-14 19:23] omershlo opened #23 "Add support for {2,3} threshold signing"
Lindell's Key Generation [1] protocol could be adapted to support {2,3}-threshold Signing if we implement the functionality _F_rand_ from [2] for generating shares of random values non-interactively.

1)  each party `i` chooses a random number  `r_i` and sends it to party `i+1`.
- The full private key will be `r_1 * r_2 * r_3`
The roles of the Prover (party1 in Lindell's protocol) and the Verifier

[2018-07-15 17:47] gbenattar commented on #17
LGTM. Closing

[2018-07-15 17:47] #17 closed

[2018-07-15 17:47] gbenattar commented on #7
Done. Closing.

[2018-07-15 17:47] #7 closed

[2018-07-16 16:16] omershlo commented on #20
see #24

[2018-07-16 16:44] omershlo opened #25 "Optimize code for production"
partial list:
1) minimize binary size
2) separate programs for Prover/Verifier for two parties use case

[2018-07-17 12:39] mortendahl commented on #18
it's good you insisted @omershlo!

after having taken a second look I see we can also get the `Prime` trait implemented for free, which contains more useful methods (but the struct needs to be public for it to show up in the documentation, which I had missed)

could a next step be to evaluate how well the operations of the current code base fits with what is offered by `ff`?

[2018-07-17 12:45] gbenattar commented on #18
I suggest to use it in a isolated part of our code and see how it feels, we can start with that. If it make us remove significantly code we wrote (for instance in here: https://github.com/KZen-networks/cryptography-utils) then it is a win (assuming the crate is trustable and well maintained).

[2018-07-17 12:51] gbenattar commented on #18
See here https://github.com/KZen-networks/cryptography-utils/issues/2. This will be our first POC.

[2018-07-17 15:45] omershlo opened #26 "Make the {2,2} protocol state machine"
**First Step**
take the hash of the pubilc key to be a token.
save to local storage (cache):
1) `id` for token
2) `next` for next function for this token

place a test at the beginning of every function for `party_one,party_two` such that only if :
1) the token`id` is registered in the storage
2) the function that is being called is `next`

Then execute the function and update `next`, otherwise ab

[2018-07-17 17:45] gbenattar opened #27 "Run 2-party ECDSA on iOS."
The purpose of this task is to build a proof of concept for running this code on iOS.
_Nice to have: simple benches that we will be able to compare with benches running on a machine._

**Success criteria:**
- Ability to call locally at least one function of 2-party ECDSA on iOS
- Documentation on how to run
- Simple benches (execution time for functions of your choice)

[2018-07-17 17:49] gbenattar commented on #26
The storage layer must be abstracted (DAO: https://en.wikipedia.org/wiki/Data_access_object).

[2018-07-19 06:27] gbenattar opened #28 "Support for ed25519 elliptic curve"
_Tezos is currently using https://github.com/project-everest/hacl-star._

We need to add support for ed25519 (likely be in https://github.com/KZen-networks/cryptography-utils) to support Tezos for 2 party ECDSA.

[2018-07-19 06:32] gbenattar commented on #28
Migrated to eddsa: https://github.com/KZen-networks/multi-party-eddsa/issues/1.

[2018-07-19 06:32] #28 closed

[2018-07-26 06:57] gbenattar commented on #12
@omershlo I believe this is done but it is currently using the dev branch of rust-paillier.

I am in favor of resolving it and creating a new issue to switch branch. What do you think?

[2018-07-26 06:57] gbenattar commented on #20
Can we close it?

[2018-07-26 06:59] gbenattar commented on #26
In the original issue:

The storage can't be local because the server will be a fleet of stateless machine. When a request is issued it is distributed via the load balancer.

Options: low latency no SQL ddb such as DynamoDB.

[2018-07-26 08:20] gbenattar commented on #26
We are having a discussion for using token for state validation.

[2018-07-26 08:53] GutteApps commented on #27
-Working with "multi-party-ecdsa" version "0.1.0"
-changed create-type in Cargo.toml to ["staticlib"] in order to be able to build a static fat library.
-build failed for x86_64 (64-bit simulator) architecture, after investigation it turns out ring (dependency of cryptography-utils) added support for this architecture in v 0.13 (was v 0.12): https://github.com/briansmith/ring/pull/584
-forked and

[2018-07-26 09:00] GutteApps commented on #27
Trying to run the following:
`use protocols::two_party_ecdsa::lindell_2017_keygen::*;

#[no_mangle]
pub extern fn test_run_from_ios() {
        let ec_context = EC::new();

        let party_two_d_log_proof =
            party_two::FirstMsgCommitment::create(&ec_context);

        let second_msg_party_two_proof_verification =
            party_one::SecondMsgClientProofVerification::verify(&ec_cont

[2018-07-26 10:36] gbenattar commented on #26
After our meeting, here is what we agreed on:
- The state machine API should be the only public APIs to prevent any security risks of using functions directly
- Because of the item above, state machine API will be added to this package (and not abstracted it to a different one)
- We need to investigate in a token validation

Assigning to @romanz.

[2018-07-26 10:40] gbenattar commented on #27
Sounds related to gcc on iOS, I will dive deep. One solution could be to use for iOS a different big number library (pure Rust).

[2018-07-26 10:43] gbenattar commented on #27
https://stackoverflow.com/questions/9513626/build-gmp-for-ios

[2018-07-26 11:22] gbenattar opened #31 "Signing "randomly" fail on the verify signature assertion"
After writing benches which execute signing many times, here is what I see:

[code]

[2018-07-26 13:40] #20 closed

[2018-07-26 17:29] romanz commented on #31
Happened again on Travis:
[code]
https://travis-ci.com/KZen-networks/multi-party-ecdsa/builds/80099054#L558

[2018-07-26 17:47] omershlo commented on #31
It's more than that - the `d_log_proof_party_two_party` test failed as well. This makes sense because both of this tests are using the same code and only afterwards we implemented the full key gen. I suggest to update the tests with the code from keygen test

[2018-07-27 10:44] omershlo commented on #26
can #35 help ?

[2018-07-27 14:01] GutteApps commented on #27
@gbenattar managed to build gmp for iOS architectures using this script:
https://gist.github.com/sakrist/0ceaa98fb16535998020

if I understand correctly, cryptography-utils is using gmp indirectly via: https://github.com/thestinger/rust-gmp

how is rust-amp linking against gmp?

[2018-07-29 09:07] gbenattar opened #37 "thread 'test_two_party_keygen' panicked at 'assertion failed'"
Run with: `seq 50 | xargs -Iz cargo test`:

[code]

[2018-07-29 09:08] gbenattar opened #38 "test_d_log_proof_party_two_party_one' panicked at 'assertion failed: party_two_seco nd_message.d_log_proof_result.is_ok()'"
Run with: `seq 50 | xargs -Iz cargo test`:

[code]

[2018-07-29 12:00] gbenattar commented on #38
Full stack trace:

[code]

[2018-07-29 12:57] gbenattar commented on #38
Fixed by: https://github.com/KZen-networks/cryptography-utils/commit/d6eefa46a8d46ede5ada1684edaf85e88d1502f1

[2018-07-29 12:57] #38 closed

[2018-07-29 12:57] gbenattar commented on #37
Fixed by https://github.com/KZen-networks/cryptography-utils/commit/d6eefa46a8d46ede5ada1684edaf85e88d1502f1.

[2018-07-29 12:57] gbenattar commented on #31
Fixed by: https://github.com/KZen-networks/cryptography-utils/commit/d6eefa46a8d46ede5ada1684edaf85e88d1502f1.

[2018-07-29 12:57] #31 closed

[2018-07-29 13:06] #37 closed

[2018-07-29 18:51] omershlo opened #40 "Update benchmarks"
rust-paillier has been updated from `n` to `nn`. This change should effect the benchmark of keygen.

[2018-07-31 06:55] gbenattar opened #41 "De/Serialization for exposed Struct"
Add De/Serialization for structures that are exposed to the server.

[2018-08-12 14:49] GutteApps commented on #27
Solved:
- needed to build gmp for iOS and link it to my Swift project as a static lib.
- Managed to run and call the following rust functions from iOS:
create_commitments(&ec_context)
create(&ec_context)
create_commitments(&ec_context)
- results are serialized returned to the C header in the following data structure:
#[repr(C)]
pub struct RustByteSlice {
    pub bytes: *const u8,
    pub len: usiz

[2018-08-20 16:53] JeremyRubin opened #44 "Permissive Relicensing"
Suggesting that you might relicense this project under MIT or BSD or Public Domain.

Many cryptographic libraries are licensed as such (e.g., secp256k1, libsnark, nacl, etc).

This makes it easier to include them in a diverse set of projects, and is more likely to get attention from outside contributors.

GPL is a fine license and has many benefits, so I understand the desire to use it, but for cr

[2018-08-24 08:02] omershlo opened #45 "Udpdate Benches"
Currently we have only keyGen benches:
- we need to update keygen benchs (currently there are compilation errors)
- we need to add signing benchs

[2018-08-24 09:56] omershlo commented on #45
see also : #40

[2018-08-24 10:00] omershlo opened #46 "Refactor for abstracted EC"
Currently the code is tailored for secp256k1_lib. To enable use of other EC libs we abstract the EC from the code, see https://github.com/KZen-networks/multi-party-ed25519 for example.
Please use https://github.com/KZen-networks/cryptography-utils/tree/rewrite_ec_abstract/src/elliptic  to refactor the code for multiple ECs

[2018-08-24 11:07] #40 closed

[2018-10-13 04:43] omershlo opened #48 "Refactor: change using `dlog_zk_protocol` to `sigma_dlog`"
They have the same interface. Just need to change to use line

[2018-11-21 22:33] omershlo opened #52 "update Lindell's two party protocol based on new paper revision"
https://eprint.iacr.org/2017/552.pdf section 4.3 is new. The bottom line is to change the dlog zero knowledge proof of knowledge in the signing protocol to proof of ec-ddh membership

[2018-11-28 09:51] #46 closed

[2018-11-28 09:52] #5 closed

[2018-11-28 09:53] #4 closed

[2018-11-28 09:53] #12 closed

[2018-11-28 09:54] #19 closed

[2018-11-28 09:54] #18 closed

[2018-11-28 09:54] #25 closed

[2018-11-28 09:58] omershlo opened #53 "2p -ecdsa protocol : use curv lib for dh key exchange"
there's a redundancy where the same code for ECDH is found in curv:
https://github.com/KZen-networks/curv/blob/master/src/cryptographic_primitives/twoparty/dh_key_exchange.rs
and is alos used by 2p-ecdsa for key generation and ephemeral key generation.
The only difference is that in 2p-ecdsa, party 1 must choose x1 < q/3 (for q curve order) for the range proof later to work. this can be done by ge

[2018-11-28 18:13] omershlo opened #54 "update paillier range proof to latest"
we changed range proof ni api [1]. we need to apply this change here as well.

[1] https://github.com/mortendahl/rust-paillier/blob/changes_to_range_proof_ni/src/proof/range_proof_ni.rs

[2018-12-01 19:00] omershlo opened #55 "migrate paillier zk proofs to zk-paillier"
The new library for zero knowledge proof based on paillier cryptosystem is in: https://github.com/KZen-networks/zk-paillier and the code should use this library at all places where currently rust-paillier is used directly

[2018-12-01 19:00] omershlo commented on #55
#54

[2018-12-07 00:43] omershlo commented on #52
done

[2018-12-07 00:43] #52 closed

[2018-12-11 14:06] omershlo commented on #55
done

[2018-12-11 14:06] #55 closed

[2018-12-24 11:53] omershlo commented on #54
done

[2018-12-24 11:53] #54 closed

[2019-01-09 21:21] vhnatyk commented on #27
Is it still open? I see solved but... no benches?

[2019-01-09 22:32] omershlo commented on #27
that's an excellent question.  I think that the actual work is on another repo.
@GutteApps/ @gbenattar  : can you please elaborate what is the current status of running rust cryptography on iOS?  specifically - what are the performance for various steps on iOS? and do you have any bottlenecks? maybe @vhnatyk will be able to assist.

[2019-01-26 18:02] omershlo commented on #22
update: new paper from the same group deals with the multi party case:
"Threshold ECDSA from ECDSA Assumptions: The Multiparty Case  "

[2019-02-11 23:10] vhnatyk commented on #27
Ok - 1 day to build multiparty on Windows, 1 hour to build on Ubuntu:), weekend to build and run multiparty tests on iOS on armv7 and aarch64 and all that after 20+ days in dependency hell on Mac OS :D

armv7 (iPad mini 1st gen ) - 32 bit is a no go :( I was able to drink some tea and few youtubes cause it was running for over 20minutes and finished just a few tests. Pretty expected since 32bit GM

[2019-02-13 15:05] omershlo commented on #45
Here is a short to do list. This list should be covered for both 2p and multi party protocols

1) measure keygen time
2) measure signing time
3) measure verification time
4) measure signatures per second
5) check if (4) can be improved using batching
6) locate bottlenecks in computation
7) check if (6) can be improved using code/algorithm change

repeat the list for: (A) 2P and Multi party protoco

[2019-02-13 18:42] arielgabizon opened #56 "GG paper reference on README is a 404"

[2019-02-13 18:47] omershlo commented on #56
fixed, thanks!
Steven updated the link to eprint. we changed accordingly.

[2019-02-13 18:47] #56 closed

[2019-03-13 21:04] vhnatyk opened #63 "Android"
Issue stub to integrate changes required to run on Android

[2019-03-13 21:20] omershlo commented on #63
Hey @vhnatyk !
can you explain what do you mean ?

[2019-03-13 21:40] vhnatyk commented on #63
Hi) - umm, just created issue # for Android-related branch name to track them separately from #27 that is regarding iOS

[2019-03-13 21:42] omershlo commented on #63
oh sure sure :)

[2019-04-23 15:38] jeamick commented on #8
hey @gbenattar,

this link (See: https://github.com/KZen-networks/multi-party-ecdsa/blob/master/src/protocols/two_party_ecdsa/lindell_2017_keygen/party_one.rs#L51) is not working...

Here is the link : https://github.com/KZen-networks/multi-party-ecdsa/blob/master/src/protocols/two_party_ecdsa/lindell_2017/party_one.rs#L51

I'll start dig into this issue if it is ok ?

Thanks

JM

[2019-04-23 15:41] omershlo commented on #8
awesome

[2019-04-24 05:03] gbenattar commented on #8
@jeamick Yes that would be great, I updated slightly the task description. At the end the outcome of it should be a proper Rust doc for this crate. Feel free to split it into small chunk if you want early review from @omershlo.

Let us know if you need any help, I suppose that you are very familiar with 2P-ECDSA, we have many tasks as a follow up.

Thanks.

[2019-04-25 20:57] omershlo opened #65 "Multi hop locks"
implement `Setup`,  `Lock`, `Rel` from [Anonymous Multi-Hop Locks for Blockchain
Scalability and Interoperability](https://eprint.iacr.org/2018/472.pdf) based on lindell 2p ecdsa

[2019-04-28 15:29] omershlo commented on #65
https://github.com/KZen-networks/sin-city

[2019-04-30 11:51] omershlo commented on #65
done

[2019-04-30 11:51] #65 closed

[2019-05-14 03:20] mazhiyu opened #66 "error: linking with `cc` failed: exit code: 1"
ld: library not found for -lgmp
clang: error: linker command failed with exit code 1

rustc --version
rustc 1.36.0-nightly (a9ec99f42 2019-05-13)

[2019-05-14 04:02] #66 closed

[2019-05-14 04:03] mazhiyu commented on #66
brew install gmp

[2019-06-01 17:49] #53 closed

[2019-06-01 17:49] #48 closed

[2019-06-01 17:51] omershlo commented on #22
update : new paper is now on eprint: https://eprint.iacr.org/2019/523.pdf
claims to have much better performance.  code (https://gitlab.com/neucrypt/mpecdsa) is still not updated as claimed..

[2019-06-25 19:04] omershlo opened #69 "proof of concept for 2p-ecdsa from HPS"
Two-Party ECDSA from Hash Proof Systems and
Efficient Instantiations (https://eprint.iacr.org/2019/503.pdf, Crypto19') is similar to Lindell17 but provides tight security and maybe performance improvement.
It is required to implement the paper and evaluate it in comparison to Lindell17.

[2019-08-15 10:02] kigawas opened #72 "`t` and `n` should not be usize"
`usize` in Rust is for something related with memory address offset, not for counting number.

Ref: https://users.rust-lang.org/t/i32-vs-isize-u32-vs-usize/22657/2

[2019-08-15 10:04] kigawas commented on #72
Suggest using u16 or u32 here

[2019-08-15 11:02] omershlo commented on #72
good catch, I think I repeatedly made this mistake.
https://github.com/KZen-networks/multi-party-ecdsa/commit/9c1121ab9db37a58d4ee8979356454e680619a76
I changed it on my branch - can you please review ?

[2019-08-15 11:18] omershlo opened #73 "replace all assert! and assert_eq! in GG"
example: https://github.com/KZen-networks/multi-party-ecdsa/blob/master/src/protocols/multi_party_ecdsa/gg_2018/party_i.rs#L202

Should be replaced with an `Err` returned to the caller

[2019-08-15 11:35] kigawas commented on #72
LGTM
I suggest merging #71 first

[2019-08-15 11:45] omershlo commented on #69
low level library to use: https://github.com/KZen-networks/class-groups

[2019-08-27 06:09] kigawas opened #74 "Consider migrating to Rust 2018"
https://github.com/KZen-networks/curv/issues/58

https://github.com/KZen-networks/curv/pull/51

[2019-08-29 09:04] kigawas opened #75 "More specific message naming"
Let's take `KeyGenBroadcastMessage1` in `gg2018` as an example. It can be improved since:

1. `Broadcast` has no more valid information except that we should broadcast this kind of message, but we may also broadcast other messages, thus, the `broadcast` should not be used here.

2. Actually it's `Commit, Decommit = Com(pk, M, R)` in the paper, it can be simply called `KeyGenCommit`

[2019-09-14 17:59] omershlo commented on #74
I couldn't agree more. Can you assign it to yourself ?

[2019-09-14 18:00] omershlo commented on #69
done! https://github.com/KZen-networks/multi-party-ecdsa/commit/56e788799769f2588a824b3661260f3aaef060c4

[2019-09-14 18:00] #69 closed

[2019-09-14 18:02] omershlo opened #77 "Add feature to choose between GG18/CCLST19/L17 protocols"
Consumers of the app probably want to use a single protocol.
They should be able to choose which one and build only for him.
Currently there's a single feature to enable CCLST19 on top of GG18 and L17

[2019-09-14 18:12] omershlo opened #78 "Can't run both CCLST keygen and sign test at the same time"
While running `protocols::two_party_ecdsa::cclst_2019::test::tests::test_two_party_sign` or `protocols::two_party_ecdsa::cclst_2019::test::tests::test_full_key_gen` is always working and passing. Trying to just `cargo test --features=cclst` returns a PARI error. Each time a different one:

It can sometimes work, while other times the following errors are received:

[code]

[code]

[code]

Might be

[2019-09-23 12:09] trepca commented on #78
happening to me too on `MacOS 10.14.6` (PARI installed using `homebrew`). Have enabled `parisizemax` in .gprc but didn't help.

[2019-09-23 12:10] omershlo commented on #78
thanks for reporting

[2019-09-25 08:37] omershlo commented on #78
I got two reports for users that on their machines the problem did not occur. I will get more details on their setups. They suggested to consult : http://pari.math.u-bordeaux.fr/pub/pari/manuals/2.11.1/libpari.pdf page 17

[2019-09-26 13:44] omershlo commented on #78
here are the setups that report of NO error:
1)
Ubuntu 19.04, with rustc 1.39.0-nightly, gp/pari 2.11.1. I ran
60 times the cargo test --features=cclst without errors.

2)
macOS Mojave 10.14.6 and installed rust in a virtualbox
6.0.10 r132072 with debian stable 10.1, rustc 1.39.0-nightly

[2019-09-26 19:28] trepca commented on #78
I setup a fresh Ubuntu 19.04 on Digital Ocean with `apt-get install build-essential llvm clang`, installed with rustup nightly and still not working. I got a
[code]

Then tried to install PARI via `apt-get install pari-gp2c` and it build but got a different error:

[code]
🤷‍♂️

[2019-09-26 20:12] omershlo commented on #78
@trepca the error you got was my fault. I fixed this error and now it should work. Please confirm

[2019-09-26 20:14] omershlo commented on #78
I check the idea of @amanusk from https://github.com/KZen-networks/class-groups/issues/20 .
It appears that running single thread all the tests solves the problem:
`cargo test --features=cclst -- --test-threads=1`

We do need to find a way to run Pari in parallel

[2019-09-26 20:28] trepca commented on #78
great, that works, even natively on MacOS

[2019-10-09 10:27] phpmaple commented on #66
brew install gmp, but same problem also

[2019-10-10 00:02] omershlo commented on #66
what error you see?
you might need to make sure the path GMP is installed is in a path where the compiler is looking

[2019-10-10 02:05] phpmaple commented on #66
`error: linking with `cc` failed: exit code: 1
  |
  = note: "cc" "-m64" "-L" "/Users/koofrank/.rustup/toolchains/nightly-2019-09-05-x86_64-apple-darwin/lib/rustlib/x86_64-apple-darwin/lib" "/Users/koofrank/Documents/rust/multi-party-ecdsa/target/release/examples/gg18_keygen_client-ab6bfdc480fd2ec0.gg18_keygen_client.5nu1yemr-cgu.0.rcgu.o" "/Users/koofrank/Documents/rust/multi-party-ecdsa/target/r

[2019-10-10 03:38] phpmaple commented on #66
Solved, sudo cargo build --release --examples, it works, I worked with `sudo`

[2019-10-21 18:19] omershlo opened #79 "Add optional range proofs for Alice and Bob in GG18"
In the multi-party ECDSA case, in `mta.rs`, in `impl MessageA` the range proofs are not
included for Alice, and in `impl MessageB`, instead it is only computing a proof of
knowledge of a discrete logarithm of `bG` instead of proving that `b` is in the
appropriate range as per page 8 of GG18, where it says Bob should be proving in ZK
that `b < K`

The rational why we might want to have the range pr

[2019-10-21 18:22] omershlo opened #80 "Add a "blame phase" to GG18"
Identifiable Abort in Threshold Signatures (IATS) - problem statement

Informally, IATS is a way for honest parties to either output a valid signature or to agree on the set of parties that behaved maliciously in the computation.
Formally, there are various security properties that allow for different levels of “accountability” in MPC . Taken from https://eprint.iacr.org/2016/611.pdf here is an ex

[2019-11-03 11:21] #72 closed

[2019-11-03 11:21] #74 closed

[2019-11-06 13:55] omershlo opened #84 "compare GG18 keygen and signing to tss-lib"
https://github.com/binance-chain/tss-lib implements GG18.
We would like to add benchmarks and comparison to tss-lib key generation and signing run locally between different `t` and `n` parameters.

Benchmark code  for this library exists: https://github.com/KZen-networks/multi-party-ecdsa/tree/master/benches/multi_party_ecdsa/gg18

[2019-12-04 10:43] darklow opened #85 "Feature to receive recid for multi_party_ecdsa signature"
Currently `recid` is implemented and returned only in `two_party_ecdsa` signature, but there is no way to receive it after signing using `multi_party_ecdsa` protocol.

[2019-12-19 13:14] k1rill-fedoseev opened #89 "InvalidPublicKey during signature generation"
Hi. I am using `0.2.8` version of `multi-party-ecdsa`.
In particular, I have used `{1,3}` party scheme.
I have recently faced with the following error during signature generation process:
[code]
Signatures generation was restarted several times, but this did not help, the same error appeared every time.
Unfortunately, I was not able to reproduce this issue with more verbose logging.

[2019-12-19 13:19] omershlo commented on #89
Hi @k1rill-fedoseev ,

1) Is this error reproduces with other versions?
2) what exactly are you running ?

[2019-12-19 13:36] k1rill-fedoseev commented on #89
1. I did not get this error previously, while using other versions, and I didn't get it when using the `0.2.8` for a long time as well.
2. I am running a slightly modified version from my fork of this repo (no changes related to protocol itself).
In my environment, there are `3` parties, they generated keys successfully as usual (using provided keygen protocol). Then they tried to sign some transa

[2019-12-19 13:42] omershlo commented on #89
Can you work with `v0.2.9`?

[2019-12-19 14:05] k1rill-fedoseev commented on #89
Sure, I can.

[2019-12-19 14:06] omershlo commented on #89
ok, I have a suspicious to why you got this error. It should not happen in `v0.2.9`. Let me know if you still get it.

[2020-01-30 12:00] darklow commented on #85
I believe this is now available since https://github.com/KZen-networks/multi-party-ecdsa/pull/86. Thanks.

[2020-01-30 12:00] #85 closed

[2020-02-16 03:47] paizzj opened #90 "how to export the pubkey when use gg18_keygen_client ?"
follow the multi-party-ecdsa demo, when keygen use gg18_keygen_client, the output file  keys.store, that is a json file.
what's the mean of all fields ?  especially how to  generate the pubkey based on keys.store file ?

[2020-02-16 08:01] omershlo commented on #90
Hi,

The fields are basically the outputs of the distributed key generation of GG19 (https://github.com/KZen-networks/multi-party-ecdsa/blob/master/docs/gg19.pdf).
It is pretty much 1:1 with the paper.

As part of the key generation each party must learn the joint public key.
the last field is this public key. Make sure that it is the same value for all parties.

Please let me know if you have mor

[2020-02-16 08:49] paizzj commented on #90
thanks a lot.

[2020-02-16 08:49] #90 closed

[2020-03-23 03:47] flyq opened #93 "Failed to run examples"
Here is my step:
1. Git clone this repository, and build the examples
2. Copy the Rocket.toml to `./target/release/examples`
3. Run the demo: `./demo/run.sh`

Here is error logs:
[code]

[2020-03-23 03:59] flyq commented on #93
I modify the run.sh to show the verbose backtrace.
[code]

[2020-03-23 07:19] flyq commented on #93
I think it's coursed by the params.json.

I copy the params.json to `./target/release/examples`, and modified it:
### case 0:
params.json:
[code]
error:
[code]

### case 1:
params.json:
[code]
error:
[code]

### case 2:
params.json:
[code]
log:
when I only run the keys1:
[code]
when I run the keys2:
error:
[code]

[2020-03-23 07:27] omershlo commented on #93
Hi, I am looking into it. We recently introduced some changes to master branch that probably caused the example to fail. You can try earlier tags meanwhile.

[2020-03-23 07:30] flyq commented on #93
OK, I'll try it. Thx

[2020-03-23 07:36] omershlo commented on #93
Fixed now

[2020-03-23 07:36] #93 closed

[2020-04-16 22:46] SilentCicero opened #94 "derive or prove if single signer is part of the group on-chain"
Hi there,

Is there anyway I can derive or prove if a single signer is part of the group of signers on-chain without having the whole group sign, i.e. through the public key or a signature proof?

On-chain I mean Ethereum.

Thanks

[2020-04-17 04:48] omershlo commented on #94
I am not sure I understand. Can you define the problem in terms of (1) input (2) output ?

[2020-04-17 22:02] SilentCicero commented on #94
@omershlo yes, so let's say I have a Zen go wallet, and I want to prove I hold / own one of the key shards on Ethereum for a specific address in a smart-contract.

Would this be possible?

[2020-04-18 18:45] omershlo commented on #94
Thanks @SilentCicero. Here is an answer I gave to a similar question we got on the [telegram group](https://t.me/kzen_research) :
[code]

Given the above answer -
1) This library supports having an account private key as a secret share
2) ZenGo is using 2 out of 2 scheme and therefore in this specific case it should be possible to publicly prove an account was one of the signers. If it is interest

[2020-04-18 18:53] SilentCicero commented on #94
Thanks for this, and great stuff on this signature tech. Very cool

Sent from my iPhone

[2020-05-08 09:03] zhangtianai commented on #27
can u share the ios or android code？

[2020-05-08 12:01] vhnatyk commented on #27
@zhangtianai hi - umm "the code" is already there:) just that you need Rust tool like
[dinghy](https://github.com/snipsco/dinghy) to run it. There is an old stale PR #60 with all the info regarding running on iOS. Just keep in mind that it's nice to keep development going without leaving Rust - so you can test and debug on iOS/Android without a wrapper for another language. Otherwise, to integrate

[2020-05-08 13:13] zhangtianai commented on #27
can you share the ios code？

[2020-05-31 04:34] zhangtianai opened #97 "How to keep the original public key unchanged when a new member is added or deleted"
How to keep the original public key unchanged when a new member is added or deleted？

[2020-05-31 04:58] omershlo commented on #97
The library does not implement such functionality yet.
In general, each party secret shares a 0 such that the new secret key shares are changing but their sum remains the same. New members will get secret shares from old members

[2020-05-31 04:58] #97 closed

[2020-07-07 07:35] omershlo opened #98 "benchmarks for GG18/GG20"
can be done is a similar fashion to the two-party protocols [benchmarks](https://github.com/KZen-networks/multi-party-ecdsa/tree/master/benches/two_party_ecdsa)

A good comparison might be to https://gitlab.com/thorchain/tss/go-tss/-/merge_requests/160

[2020-07-31 02:41] flyq opened #99 "Failed to build examples"
I pull the last code: https://github.com/KZen-networks/multi-party-ecdsa/commit/89b1562b8af4d4fe77479c2fae5e4370895c97d2

and build:
[code]

### error log
[code]

Maybe it is a bug of `macro_rules!`: [Always capture tokens for `macro_rules!` arguments](https://github.com/rust-lang/rust/pull/73293)

According to above, I try this:
[code]
and it doesn't fix it:
[code]

### env

Ubuntu 18.04, I ran t

[2020-07-31 02:51] flyq commented on #99
I delete the `Cargo.lock` file and build again, succeeded.

[2020-07-31 02:51] #99 closed

[2020-10-02 21:09] hu55a1n1 opened #100 "Support for Fast Secure Multiparty ECDSA (Lindell et al. 2018)"
Do you plan to implement support for the multi-party threshold (t,n) ECDSA described by Lindell et al. in their newer (2018) paper -> https://eprint.iacr.org/2018/987.pdf ?

[2020-10-03 07:30] omershlo commented on #100
Hi @hu55a1n1 !
Thank you for the question.

LNR18 is a great paper. I believe we have already implemented in various repos the major building blocks for implementing the protocol.
That said, the logic behind this library is to provide several alternatives that would allow the designer to have flexibility in her requirements ( access structure, security assumptions and so on ) I don’t think LNR18 i

[2020-11-12 08:16] Turntogamer opened #103 "invalid enc_keys in gg20_keygen"
Hi, I have tried many times to run gg20_keygen_client, and I find a panic here:

_["round1"] party 2 => party 1
["round1"] party 3 => party 1
["round2"] party 2 => party 1
["round2"] party 3 => party 1
thread 'main' panicked at 'assertion failed: key.len() == 16 || key.len() == 24 || key.len() == 32', /home/abmatrix/.cargo/registry/src/github.com-1ecc6299db9ec823/rust-crypto-0.2.36/src/aes_gcm.rs:

[2020-11-12 08:28] omershlo commented on #103
Hi @Turntogamer !
thanks for opening this issue, I will fix it now and update. It is a very easy fix,
what happens is that since the key is  random it sometimes happens that the leading bits are zero and therefore key length do not match the check

[2020-11-12 08:55] Turntogamer commented on #103
Oh, thanks for your fast reply, now I know the reason :)

[2020-11-12 09:44] Turntogamer opened #104 "A small code suggest for gg20_sign_client"
If we run gg20_keygen_client in order(terminals: 1, 2, 3) and run gg20_sign_client, we can only run 1, 2 in order (the leader t+1 parties).
 If we try to run sign_client like 1,3 or 2,3 or 2,1 we will get this panic:

**number: 1, uuid: "8729ac74-53d8-4cb5-be9e-9f90fcbf6a58"
["round0"] party 2 => party 1
["round1"] party 2 => party 1
thread 'main' panicked at 'assertion failed: `(left == right)`

[2020-11-12 09:45] omershlo commented on #104
awesome, I was just about to push a fix for your previous issue, let me add this one as well!

[2020-11-12 10:09] omershlo commented on #104
I agree with your suggested fix.
added it to latest commit, please check: https://github.com/ZenGo-X/multi-party-ecdsa/commit/685889e61e11a68607678218f84e1d3cc884044d

[2020-11-12 10:09] #104 closed

[2020-11-12 10:10] omershlo commented on #103
please check: https://github.com/ZenGo-X/multi-party-ecdsa/commit/685889e61e11a68607678218f84e1d3cc884044d

[2020-11-12 10:10] #103 closed

[2021-01-25 14:56] omershlo opened #107 "Bump Curv"
Current tag of Curv used in this repo is v0.2.4.
Since tag v0.5.0 we got rid of using feature to specify the curve used (current Curv tag is v0.5.4).

To bump Curv it is required to bump the Paillier dependencies (rust-paillier, zk-paillier)

[2021-01-25 15:00] omershlo opened #108 "implement StateMachine for GG20 signatures"
Work is done in this branch: https://github.com/ZenGo-X/multi-party-ecdsa/tree/exp_state_machine
As part of upgrading the network stack we are moving into using round_based crate.
GG20 is already ported and it is required to follow the same blueprint to port GG20 signing.

[2021-02-22 07:13] survived opened #110 "Support several elliptic curves"
multi-party-ecdsa used to work with several curves by specifying certain features. Currently, curve is fixed: we use secp256k1.

Choice of curve may be added by introducing generic parameters to algorithms (generic over ECPoint/ECScaalr traits from curv crate), or by introducing features and adding condition compilation.

[2021-02-22 07:14] #107 closed

[2021-02-22 23:58] jameshiester opened #111 "Intermittent errors at GG20 Sign Stage 6"
I am trying to run v4.3 using 3 shares, 2 threshold.  I've wrapped the functions in node using neon.   Sign runs ok around 60% of the time, but I often see the following error:  error_type: "phase5 R_dash_sum check failed Err(Phase5BadSum)".  I'm not sure is this is due to the way I have wrapped the functions, or if this is an expected behavior from the library if a poor K value is chosen or some

[2021-02-23 00:11] omershlo commented on #111
Hi @jameshiester !
the signing should work 100% of the time. There is no known issue but I will look into this.
what other errors do you get ?
Is it possible that your wrapped functions caused  it? Do you see the same error when testing the code directly without the wrapper?

[2021-02-23 00:32] jameshiester commented on #111
That's the only error I get.  Can I assume the issue occurs between stage 5 signing and stage 6, or is a state possible where stage 5 succeeds yet the data is in a state such that it will fail upon reaching stage 6?

[2021-02-23 09:08] omershlo commented on #111
both options are possible.
we run a statistical test (run the same test 100 times) and all passed. Our conclusion so far is that the issue is most likely in the wrapper

[2021-02-25 17:55] #111 closed

[2021-04-21 14:25] ppoliani opened #113 "Dependency does not exist on Crates.io"
At the moment it is not possible to build the project. The `zeroize: 0.10.x` has been yanked so cargo cannot find it.

Shall we update the crate to the latest version?

[2021-04-21 14:27] omershlo commented on #113
thank you @ppoliani , looking into it!

[2021-04-21 14:39] ppoliani commented on #113
Thanks @omershlo. I checked the latest version is 1.3.0; however the package is a dep of all the other sub-deps which are currently pointing to Github repos.

[2021-04-23 05:49] omershlo commented on #113
Hi, fix is taking some time,
Please try to work on one of the earlier tags instead of latest.

[2021-04-23 10:09] ppoliani commented on #113
@omershlo thanks buddy. Do you mean that there is a version of the lib that doesn't depend on `zeroize`? I'm asking because any version below v1 if [yanked](https://crates.io/crates/zeroize/versions) so I think we'll get the same error.

[2021-04-26 11:08] survived commented on #113
Hi @ppoliani, please check if #114 solves the issue - try `v0.4.5` tag

[2021-04-26 11:09] survived commented on #113
Hi @ppoliani, thanks for raising the issue. #114 fixes it

[2021-04-26 11:09] #113 closed

[2021-04-26 19:05] ppoliani commented on #113
Thank you guys 👍

[2021-06-04 11:36] durgesh-pandey opened #116 "Clarification about the recid calculation using generated ecdsa signature"
Hello,

I am trying to analyse the recid calculated in the ecdsa signature with recid and below is my understanding about it. Correct me if there is any inconsistency in this analysis:

When you calculate the sig (or s ) = k1^-1* decrypted, and before accepting min of two signatures,  at that time if we are calculating the recid, it is nothing but to check what is the parity of y co-ordinate, even

[2021-06-04 12:02] omershlo commented on #116
Looks good to me on first look. I will take a deeper look later .
Cc: @elichai

[2021-06-04 12:22] elichai commented on #116
Yeah so as you said the recid contains 2 pieces of information:
1. If the R point is odd or even.
2. If r(R.x) is between the group order and the field order.

2 is because r is technically a field element(the `x` part of the point), but in ECDSA verification it is used as a scalar in the group order, so because the group order is smaller than the field order you need to encode if `n < r < p`, and

[2021-06-04 12:41] durgeshp-crypto commented on #116
Yes, agree that there can be cases where there can be 4 possible R, with (r, y1),( r, -y1),  (r+n, y2) and (r+n, -y2) which is derived from r +j*n for j =0 to h, the co-factor which is 1, and probability of r+n being valid x points are very low, like with probability 2^-128. In above,I was referring R and R' for the first two values of R which falls into the  point 1 you mentioned. I think in code

[2021-06-04 12:43] omershlo commented on #116
Indeed

[2021-07-18 10:15] #108 closed

[2021-07-25 13:24] Kileyan opened #125 "Planning on integrating protocol by Canetti et al.?"
Hi, your library is very conducive, and I wonder if you are planning to integrate the protocol by Canetti et al.?
https://eprint.iacr.org/2020/492.pdf

[2021-07-25 14:30] omershlo commented on #125
Hi @Kileyan ! thank you for reviewing the library.
We currently have no plan to implement CMP. We don't view it as substantially improving over GG20 and we have another protocol in the works.
For CMP implementation please refer to the excellent code by Taurus : https://github.com/taurusgroup/cmp-ecdsa

[2021-07-28 09:48] Kileyan commented on #125
Hi @omershlo, thank you for the quick answer. And additionally, I am curious to know what additional protocol you are currently working on integrating?

[2021-08-02 05:30] dlhex commented on #110
@survived Hi, I have some question something theoretical.

Can TSS support any kind of ECDSA curve no matter what curve is and also no matter size of key??

Actually What I'm looking for is about p256 or secp384r1.

[2021-08-02 06:06] survived commented on #110
Hi @dlhex, yes, tss scheme implemented in `multi-party-ecdsa` can be generic over choice of curve, particularly it used to support p256. It just requires to make algorithms, defined in this crate, generic over `E: Curve`, see examples [here](https://docs.rs/curv-kzen/0.8.0-rc1/curv/elliptic/curves/index.html)

[2021-08-02 06:09] dlhex commented on #110
I see! Thank you for your quick answer

[2021-08-06 08:14] davfra opened #127 "build fails after change on ZenGo-X/curv"
After [this change](https://github.com/ZenGo-X/curv/commit/b53df44eca2ed6e71025014c979b008621a996bb) on ZenGo-X/curv, multi-party-ecdsa does not build (`cargo build --release --examples`) any more, resulting in the following error message:
```error: failed to select a version for the requirement `ring-algorithm = "^0.2.3"`
candidate versions found which didn't match: 0.4.0
location searched: crate

[2021-08-06 09:07] omershlo commented on #127
Thanks @davfra !
The link to Curv library you pointed to contains the fix to handle ring-algorithm dependency. We will update in the next days the zengo-x libraries that also suffer from this issue - to use the fixed Curv library.

cc: @elichai , @survived , @MatanHamilis

[2021-08-06 14:12] DmytroTym opened #128 "Sign_stage6 seems not to do what it's meant to"
Hello,

I was going through the library and got stuck at `sign_stage6` method of `orchestrate.rs`. If I understand correctly, it corresponds to this line at page 15 of GG20 (specifically, the zero-knowledge proof part of it):

But from the code it seems that we actually prove the statement `t` times, just with different Fujisaki-Okamoto commitments, and then verify our own proofs instead of broadc

[2021-08-06 14:58] omershlo commented on #128
Thanks @DmytroTym !!
I agree that on first look something seems odd there.
@nmahendru - can you also take a look ?

[2021-08-06 17:26] nmahendru commented on #128
That looks wrong.. and you are right @DmytroTym . I'll try to put up a pr to fix this.

[2021-08-06 19:24] DmytroTym commented on #128
Great, thanks for the quick response!

[2021-08-13 09:00] DmytroTym commented on #128
I have another question, but don't want to open a separate issue as I am not sure this question deserves it. When we do MtAwc for `k_i` and `w_i`, the fact that `g^{w_i}` is public, is used. But in the code of `sign/rounds.rs` parties do not compute `g^{w_i}` themselves, but just send their values to each other during the first round. I understand that this is about identifiable aborts, which are

[2021-08-13 09:05] omershlo commented on #128
Thanks @DmytroTym your feedback is extremely helpful. We identified this issue as well and it will be resolved in the upcoming PR. please send me an email to omer@zengo.com or ping me in telegram @omershlo - I would like to offer you a reward

[2021-08-13 21:41] omershlo opened #131 "Add identifiable abort to GG20 state machine"

[2021-08-13 21:46] omershlo opened #132 "update README to guide usage of GG20 state machine"

[2021-08-13 21:47] omershlo commented on #128
find in #130

[2021-08-13 21:47] #128 closed

[2021-08-15 08:46] Kileyan commented on #125
Hi @omershlo, what additional protocol are you planning to integrate into the multi-party-ecdsa in the future?

[2021-08-15 09:05] omershlo commented on #125
We are currently still working on gg20: exposing identifiable abort to the state machine and stabilizing the whole thing.
Besides that we work on a new protocol , not published yet

[2021-08-28 14:38] rimbi opened #135 "Yanked v0.7 crypto-mac crate causes build problem"
I face a problem due to the yanked v0.7 crypto-mac crate
There is this dependency tree causing the problem:
crypto-mac <- hmac <- curv <- multi-party-ecdsa

[2021-08-30 06:57] survived commented on #135
Hi @rimbi, we've fixed the problem by releasing `curv v0.7.1` with bumped `hmac`. `multi-party-ecdsa` should be buildable now!

[2021-08-30 06:57] #135 closed

[2021-09-03 05:22] survived commented on #127
`ring-algorithm v0.2.3` was unyanked — `multi-party-ecdsa` builds now without any issues

[2021-09-03 05:22] #127 closed

[2021-09-07 05:19] tmpfs opened #138 "Support for `wasm32-unknown-unknown` target?"
I have been investigating using multi-party ECDSA in WASM and wanted to know if there are plans to support the `wasm32-unknown-unknown` target so we could use this library from the browser?

I have explored your [emerald-city](https://github.com/ZenGo-X/emerald-city) library and have used it to put together a very simple demo of using WASM (via `wasm-pack`) but would prefer to use something that i

[2021-09-07 06:23] omershlo commented on #138
Hi ! We plan to remove rust-crypto .
meanwhile : see if this helps : https://github.com/ZenGo-X/multi-party-ecdsa/pull/137

[2021-09-07 06:57] survived commented on #138
`rust-crypto` dependency bothers us a lot, so we're removing it: https://github.com/ZenGo-X/curv/pull/137. Though it's one of minor challenges, a lot of other things block us from being wasm-compatible right now, e.g. #137 mentioned above.

[2021-09-08 00:12] tmpfs commented on #138
Thanks @omershlo and @survived, I am excited to see those changes land!

It would be really useful to keep track of these to get an idea when we might be able to use `multi-party-ecdsa` in the browser, would you be able to list the other blocking issue(s) please?

[2021-09-09 19:39] drewstone opened #139 "Integrating `StateMachine`s (gg20) into existing network stack and its difficulties."
I'm looking to extend an already existing gossip based protocol w/ a DKG and trying to execute the state machine for gg20's Keygen first. It seems difficult with the existing architecture to do so given how tightly coupled things seem, starting with how most methods and struct fields are private.

The scenario is as follows.
- I have handlers for finality messages of a given blockchain and on hand

[2021-09-09 19:42] drewstone commented on #139
Some other difficulties I'm facing relate to the `Simulation`s. They take all parties up front and I'm not sure how to analyse the architecture as is when working with an environment where the parties are in fact distributed. How does one execute these protocols within a distributed context if the `StateMachine` is privately executable? Are there examples for this somewhere? It seems all methods t

[2021-09-09 21:07] Sky-Nik commented on #139
@drewstone disclaimer: I am not a developer of this library but I used it a bit myself
- there is `.message_queue()` that returns a queue of messages that a state machine wants to send. You can loop over it if it is nonempty. Once all messages are sent you would need to `.handle_incoming()` received ones;
- afaik, state machine was designed not to call `.proceed()` itself, because it may cause som

[2021-09-12 09:07] elichai commented on #138
@survived rust-secp256k1 should work on wasm, we even try to test it in the CI: https://github.com/rust-bitcoin/rust-secp256k1/blob/master/.github/workflows/rust.yml#L32 (I say try because there are dozens of different flavors of wasm interpreters )

[2021-09-13 04:01] survived commented on #139
Thanks, @Sky-Nik, you impressively covered the question! @drewstone Indeed, what you need in order to carry out the protocol is methods of [StateMachine trait] only. Workflow looks like:

1. If `.message_queue()` is not empty, empty it by sending queued messages
2. If state machine `.wants_to_proceed()`, then call `.proceed()` (and be aware that this method may take a while to complete)
3. State m

[2021-09-16 17:37] dev0x1 commented on #139
Thanks, @Sky-Nik @survived for the heads up,
I am working with @drewstone. I have used `StaeMachine` APIs for `GG20` `KeyGen` and implementation follow the steps mentioned above and I am able to generate the key for our use case.
 However, I am seeing some strange behavior that `state's`  `message_queue` keeps on increasing by one message in each round.
 For t=2, n=3 settings, `message_queue` leng

[2021-09-16 18:01] survived commented on #139
Hi @dev0x1, do you delete messege from the queue after you sent it? State machine only adds messages to the queue, it doesn't delete old messages. "Out of order message" error might be caused by double sending the same message

[2021-09-17 04:53] dev0x1 commented on #139
Thanks @survived for your quick response. I was just over-cautious to only use `StateMachine's` public APIs. Now I am clearing the queue after sending the messages and everything works fine. Maybe, in case `StaeMachine` is going to be around for some time, we should document this somewhere or we provide an API in `StateMachine` to clear the queue.

[2021-09-17 08:08] survived commented on #139
You're right, it's not obvious from documentation that messages need to be deleted from the queue. I updated [`.message_queue` method](https://docs.rs/round-based/0.1.6/round_based/trait.StateMachine.html#tymethod.message_queue) documentation

[2021-09-20 16:24] #116 closed

[2021-10-04 06:11] tmpfs commented on #138
Hey,

I noticed that https://github.com/ZenGo-X/curv/pull/137 has landed in `curv@0.8` and wanted to upgrade the dependency here but it looks like `centipede` and `bulletproof` would need to be upgraded in lock step.

What is the recommended process to test out updating the `curv` library? Anything I can do to help please let me know :pray:

[2021-10-04 06:49] survived commented on #138
Hi @tmpfs, as you correctly observed, `multi-party-ecdsa` depends on several crates that depend on `curv` as well, so they need to be upgraded first. Usually I update `multi-party-ecdsa` and its deps in this order: [`paillier`], [`zk-paillier`], [`bulletproof`], [`centipede`], and then `multi-party-ecdsa`. Updating deps is like warming up, because they have fewer `curv` usage (and generally have s

[2021-10-15 02:10] palladionIT opened #142 "GG20 example source files missing in master"
Hey,

first off thanks for this project. I cloned the repository to play around with GG20 and noticed that the source files are missing in the example directory. If you download the release zip they are available so I guess this is just a small oversight.

[2021-10-15 02:13] palladionIT commented on #44
Any update/comment on this? I am working on a project where this might become very relevant. Thanks!

[2021-10-15 05:30] omershlo commented on #142
@palladionIT thanks !
We had examples for gg20 but removed them due to a major update to the code. We will add them back soon.
cc: @survived , @elichai , @Shalevos , @MatanHamilis

[2021-10-15 05:31] omershlo commented on #44
We can try to help! lets discuss it in DM, please reach out to me via email : omer@zengo.com or telegram: omershlo

[2021-10-31 07:05] survived commented on #138
@tmpfs Note that if you have other dependencies that depend on `curv` (eg. `multi-party-ecdsa`), then you need to turn off default features for them too, ie: `multi-party-ecdsa = { git = "...", tag = "...", default-features = false }`.

The reason why you see this message is that some of your dependencies enforces `curv/rust-gmp-kzen` feature. You may use `cargo tree` tool to find out which one

[2021-11-01 12:59] aiyajsupra opened #147 "Value of R remains same every time when we generates `CompletedOfflineStage` with same `s_l`"
We are using 0.7.4 release tag.
We have tried to implement GG20 and we are running Offline rounds (1-6) everytime when we generate signature and it gives same R's value in signature even if we are running Offline rounds before generate signature.
Attaching logs may be that can help to see an issue.

[2021-11-01 13:01] aiyajsupra commented on #147
`keygen 1:{Keygen at round=1 msgs1=[0/3] msgs2=[0/3] msgs3=[0/3] msgs4=[0/3] queue=[len=1]}
keygen 2:{Keygen at round=1 msgs1=[0/3] msgs2=[0/3] msgs3=[0/3] msgs4=[0/3] queue=[len=1]}
keygen 3:{Keygen at round=1 msgs1=[0/3] msgs2=[0/3] msgs3=[0/3] msgs4=[0/3] queue=[len=1]}
keygen 4:{Keygen at round=1 msgs1=[0/3] msgs2=[0/3] msgs3=[0/3] msgs4=[0/3] queue=[len=1]}
keygen 1:{Keygen at round=2 msgs1=[

[2021-11-01 13:18] DmytroTym commented on #147
It sounds pretty bad as constant `R` means constant `k`, even though it's really important that `k` are newly randomly generated each time. For me, `R` are different each time. How do you sample `k`?

[2021-11-01 14:14] aiyajsupra commented on #147
@DmytroTym
`R` means `SignatureRecid -> r ( Secp256k1Scalar )`.

Doesn't it be different with each Offline stage rounds?

[2021-11-01 15:08] DmytroTym commented on #147
If you did not make any changes to the rounds, could you please post the code that produces such output?

[2021-11-01 15:45] aiyajsupra commented on #147
okay, got it now. In my case, i am using same signers which results in same k for each offline stage. Will check by changing singkeys for each offline stages.

[2021-11-01 16:14] DmytroTym commented on #147
Even if signers and their keys are the same, they should still generate new `k` at each offline stage. If that's not the case for you, something is wrong.

[2021-11-02 01:11] tmpfs commented on #138
Thanks for the tip @survived, it seems like all I needed was to set `default-features` for the `multi-party-ecdsa` dependency to get it to compile.

Using these dependencies:

[code]

Running `cargo check --target wasm32-unknown-unknown` is working :+1:

[2021-11-02 05:13] aiyajsupra commented on #147
You can reproduce issue by running main.rs here:- [https://github.com/aiyajsupra/zengo-gg20](url)
`R` remains same every time when we generate offline stage with same signers

[2021-11-02 11:01] DmytroTym commented on #147
Would it be correct to say that in the `run_signing` method you don't change the value of the `offline_output_vec` vector, which is used to sign messages? You run the offline stage for each signature but use a different vector there - `offline_stage_vec`. Thus, `offline_output_vec` stays unchanged and rightfully produces the same `R` each time. `s` changes since messages that are signed are differ

[2021-11-02 12:34] aiyajsupra commented on #147
Thanks. it worked

[2021-11-03 05:15] survived commented on #147
@aiyajsupra can the issue be closed? Probably the real issue here is that we don't have gg20 examples yet, but it should be addressed soon 🙂

[2021-11-03 12:04] #147 closed

[2021-11-09 05:09] tmpfs opened #148 "Remove zeroize once num-bigint supports zeroization on drop"
The `zeroize` library is currently required for `range_proofs.rs` because `BigInt` from the `num-bigint` backend does not yet support zeroization on drop, once support is added to `num-bigint` the `zeroize` dependency can be completely removed.

Original discussion is [here](https://github.com/ZenGo-X/multi-party-ecdsa/pull/144).

[2021-11-12 08:18] Hrezaei commented on #66
Even with sudo, didn't worked for me!

Where the compiler is looking?

GMP is installed in these paths:
[code]

and
[code]

[2021-11-26 01:31] tmpfs commented on #138
@survived, having some issues getting entropy in WASM, I wonder if you have any ideas.

First I hit this error calling `Keys::create()` in the WASM module:

[code]

So I added the `rand` dependency with the `wasm-bindgen` feature (which no longer exists in `rand@0.8`):

[code]

Which yields:

[code]

Any pointers on how I should set up the RNG for WASM?

Full `Cargo.toml` is [here](https://github.

[2021-11-29 04:56] tmpfs commented on #138
I have been looking into the `rand` errors a bit and it appears to be something to do with the transitive dependency chain configuration but I am not sure exactly where yet. I did a [quick test](https://github.com/tmpfs/wasm-rand) depending upon `rand@0.8` with `getrandom` using the `js` feature and with `rand@0.6.5` with the `wasm-bindgen` feature and they both work fine compiling to WASM.

When

[2021-11-29 05:22] tmpfs commented on #138
I managed to get it working by downgrading `getrandom` from:

[code]

To `0.1.16` with the `wasm-bindgen` feature:

[code]

Phew!

[2021-12-04 01:09] tmpfs commented on #138
@survived and anyone else following this thread I found an interesting problem. For context, I am trying to port the gg18 example to WASM using a websocket server backend, the [code is here](https://github.com/tmpfs/ecdsa-wasm/tree/keygen).

I got to the point of [verifying correctness of round 2 answers](https://github.com/ZenGo-X/multi-party-ecdsa/blob/master/examples/gg18_keygen_client.rs#L102-

[2021-12-06 06:21] tmpfs commented on #138
So this gets a bit strange, I have learnt that the multi-threaded `SharedArrayBuffer` issue was fixed in `getrandom` by forcing usage of an `Uint8Array` for the call to `Crypto.getRandomValues()`, see [this PR](https://github.com/rust-random/getrandom/pull/165) and was backported to `getrandom@0.1` [here](https://github.com/rust-random/getrandom/pull/171).

So I tried to reproduce this using `wasm

[2021-12-07 04:40] tmpfs commented on #138
Looks like we need to wait for [this PR](https://github.com/rust-bitcoin/rust-secp256k1/pull/331) ([related issue](https://github.com/rust-bitcoin/rust-secp256k1/issues/328)) to land and then we should be good.

I also wanted to update `pairing-plus` to use the latest version so we don't have 3 different versions of `rand` in the dependency tree, hopefully [this PR](https://github.com/algorand/pai

[2021-12-07 07:57] survived commented on #138
I'm waiting for `secp256k1` library update too that will bump `rand` dependency 🙂 This will happen eventually.

Regarding `pairing-plus` issue, I believe we can eliminate this one by slightly modifying `curv` crate. We could (and should) make every curve support optional, so users could turn off particular curve implementation if it's not relevant for them (and even causes problems). In your case,

[2021-12-07 12:23] palladionIT opened #150 "Telegram Group Link Expired"
Hello,

I wanted to reach out to you through Telegram to discuss a few things regarding the API design but it seems that the Telegram link in the Readme expired. Besides email, what is the best way to generally talk about the project?

Thanks!

[2021-12-08 00:40] tmpfs commented on #138
I like the sound of this, makes a lot of sense. Happy to help out if needed!

For anyone that wants to try building for `wasm32-unknown-unknown` now before we get the `rand` updates here is a little hack to get past this particular problem:

[code]

[2021-12-08 00:55] palladionIT opened #151 "GG20 Presignature Generation Questions"
Hello,

I am still playing around with the awesome code you produced and I really like the way you implemented GG20 in the other dev branch using `round-based` etc. While working with the code there were a few questions popping up for me that are a little unclear and I would really like to get some input from you. I am also open to discuss things via Telegram but as of now that does not seem possi

[2021-12-08 03:30] tmpfs opened #152 "Remove rust-crypto from dev-dependencies"
The `rust-crypto` library has been removed from upstream dependencies but still exists in `dev-dependencies`.

It appears that it is only used for the examples in `common.rs` for `AesGcm` encryption/decryption.

As part of my work to support `wasm32-unknown-unknown` I am porting the gg18 example and need to remove this dependency to compile for WASM.

I suggest removing it here first by porting to

[2021-12-08 05:54] survived commented on #151
Hi @palladionIT, sorry for confusion, `CompletedOfflineProtocol` must not be reused. Reusing leaks the private key. We need to fix this comment.

About serialization — probably it's the same reason, storing it at FS makes it easier to accidentally reuse it. But, I think, we can add (de) serialization traits, and add an explicit warning in the docs

[2021-12-08 10:15] palladionIT commented on #151
Thank you for answering my questions. I think it makes sense to have the CompletedOfflineStage (de)serializable because it would support more use cases for the library. However, I agree that it needs thorough documentation to make sure that the feature will not be misused.

[2021-12-20 07:46] tmpfs opened #154 "Support for single threaded operation (webassembly)"
I touched upon this earlier in [this comment](https://github.com/ZenGo-X/multi-party-ecdsa/issues/138#issuecomment-985936882) but want to create a separate issue to explain context and discuss this problem.

I have successfully ported the gg18 example to webassembly using `wasm-bindgen` and `wasm-bindgen-rayon` and with a hack for `Crypto.getRandomValues()` we are generating keys and signing messa

[2021-12-20 11:33] naughtyfox commented on #151
Hi everyone!
I would like to vote up for adding serialization/deserialization of CompletedOfflineStage struct.

[2021-12-27 20:11] drewstone opened #156 "Recommendations for proofs of misbehavior for blockchain integrations"
We are integrating this system into a blockchain using the active validators of Proof of Stake network as our participating set. While we can diagnose misbehavior using the tools of this repo, we're curious what the recommended routes are for getting proofs of misbehavior on chain to allow for provable slashing conditions. Right now it doesn't seem like the proofs of misbehavior are exporoted in a

[2021-12-28 09:28] Wizdave97 commented on #151
Hi @survived, thanks for the work on the library, we currently use this library in a blockchain we are developing, my question is, when we run the protocol with the parties and reach the `CompletedOfflineStage`, we intend to serialize this value and store an encrypted version of it inside the file system, the reason for doing this is that the parties involved in the protocol are the blockchain nod

[2021-12-29 06:36] survived commented on #148
Closing per discussion in [separate thread](https://github.com/ZenGo-X/multi-party-ecdsa/pull/144#issuecomment-997492108)

[2021-12-29 06:36] #148 closed

[2021-12-29 11:14] HRezaei opened #158 "MtA (Multiplicative to Additive) share conversion protocol for Ed25519"
https://github.com/ZenGo-X/multi-party-ecdsa/blob/fc4a0ed2e1c9ba75d249e7ef0172ebc310f2eb43/src/utilities/mta/test.rs#L7

This test function works fine with the secp256_k1 curve, but if you change the underlying curve scalars and points to those of Ed25519, it fails always. To see the issue you need to refactor the test function and also `MessageA`, `MessageB`, etc. You can take a look at [this rep

[2022-01-05 00:36] tmpfs commented on #152
Implemented in #160.

[2022-01-05 00:36] #152 closed

[2022-01-09 21:35] eatruffle opened #161 "Problem with gg20"
Hi,
I have problem with signing a "hello" sentence in the GG20 example.
I am trying commands from the example and the result is:

Error: online stage failed

Caused by:
    couldn't complete signing: round 7: InvalidSig

Please give me a small advice :) What I am doing wrong.

[2022-01-10 01:15] survived commented on #161
Hi @eatruffle, what are exact commands you executed that produce the error?

[2022-01-10 07:19] eatruffle commented on #161
Hi,

first of all thank you for this amazing project, and for interest of my question.
All comments, I am taking from the GG20 demo,

In ./target/release/examples/ folder,

I am starting the manager **./gg20_sm_manager**
After this, in three different terminals I am running

    **./gg20_keygen -t 1 -n 3 -i 1 --output local-share1.json
    ./gg20_keygen -t 1 -n 3 -i 2 --output local-share2.json

[2022-01-10 08:07] survived commented on #161
Confirm, it reproduces for me with some probability. Not sure what's exact problem. cc @elichai @MatanHamilis

[2022-01-11 10:23] eatruffle commented on #161
Hi
I have modified the if statement below line 900
https://github.com/ZenGo-X/multi-party-ecdsa/blob/c80c87d130f4b742c346cbd3095f24d602834b2c/src/protocols/multi_party_ecdsa/gg_2020/party_i.rs#L900
and is OK
Now I am checking what exactly is wrong with input parameters for this function.

[2022-01-27 04:56] tmpfs commented on #154
@survived, if I do the work to support this would you land the PRs?

At the moment this is a blocker for us as our use case is for MFA in the MetaMask browser extension.

[2022-01-27 05:18] tmpfs commented on #139
I hit a snag updating the webassembly demo to gg2020 using the state machine directly so I wrote a [test case](https://github.com/LavaMoat/gg2020-test) to interact with the state machine without any networking. I thought I would add it here in case anyone wants to see a working example using the state machine without `AsyncProtocol` or `Simulation`.

@survived, is it worth adding this test to the

[2022-01-27 12:07] survived commented on #139
[`.wants_to_proceed()`] indicates whether `StateMachine` wants to do some expensive computation. `handle_incoming` actually may jump to the next round if this operation is not expensive. The only intention of having `.proceed()` is to be able to handle heavy computations in different way (e.g. `AsyncProtocol` calls [`spawn_blocking`])

You correctly observed that round 1 of DKG is [not expensive]

[2022-01-27 12:14] survived commented on #139
@tmpfs, could you describe your case, why do you need to work with it directly? Asking because next version of round-based will have state machine removed, ie the only way to run the protocol will be by providing `Stream` and `Sink` for receiving and sending messages. I thought it's going to be easier to work with, but maybe I'm missing some use-cases?

[2022-01-28 00:37] tmpfs commented on #139
@survived, because in webassembly with `wasm-bindgen` it makes more sense to do the networking on the Javascript side. Whilst it is possible to make network connections in `js_sys` it is complicated and would be especially awkward in the multi-threaded situation with multiple workers / instantiated WASM modules.

I would really appreciate it if we could keep the `StateMachine` design to facilitate

[2022-01-28 10:12] survived commented on #139
@tmpfs does web assembly prevents you from using `async` code? I'm not saying you have to implement delivery logic within `Stream`/`Sink`, you can just use [`UnboundedReceiver`]/[`UnboundedSender`] and feed them messages from js-code. You won't need to manually drive StateMachine, just supply these channels and everything works just fine.

[`UnboundedReceiver`]: https://docs.rs/futures/latest/futu

[2022-01-28 21:35] drewstone commented on #139
For background @survived, we are not using this library where we provide the Stream/Sink. Maybe we lack experience seeing how exactly it fits for our use case but we're integrating into an existing gossip based system.

- https://github.com/webb-tools/dkg-substrate/tree/master/dkg-gadget
- https://github.com/webb-tools/dkg-substrate/tree/master/dkg-primitives

[2022-01-30 23:50] tmpfs commented on #139
@survived, whilst I know that it is possible to use futures in webassembly I don't know exactly what it will look like as I have never tried.

However, I have some concerns about this approach:

1) I would need to embed an async runtime (`tokio`, `async-std` etc) into the web assembly module increasing the size of the WASM file.
2) I then need to convert the futures to promises to return values to

[2022-02-01 17:59] survived commented on #139
@tmpfs, unfortunately, `StateMachine` implementation is difficult to maintain. Any protocol implementation (e.g. gg20) requires a lot of non-trivial boilerplate, and it's simply difficult to deliver bugfixes, analyse the code, etc. New version of library allows to keep the code clean and clear, that's the whole point. But cost of it is tying to async.

Regarding your concerns:
1. Indeed, binary si

[2022-02-24 03:29] tmpfs commented on #139
Thanks for the explanation and rationale @survived! I wonder is this new version aspirational or is there some code that is work in progress I could take a look at?

If there is a branch I would really like to take a look and see what the shape of the new API might look like. Thanks 🙏

[2022-03-02 11:47] survived commented on #139
There's [`round-based2` branch in the repo], but it's poorly documented at this point, though most of api is established. You can look at [`round-based-ing`], lib that integrates `round-based` and ING's implementation of GG18: there're two structs `Keygen` and `Signing`, they can carry out DKG and threshold signing. API for `multi-party-ecdsa` is going to be similar.

[`round-based2` branch in the

[2022-03-22 04:32] tmpfs opened #164 "Support for key resharing in GG2020"
Does the implementation of GG2020 support key re-sharing?

If so, is there an example of the re-sharing part of the protocol I could take a look at.

Thanks, as always 🙏

[2022-03-22 12:48] GTC6244 commented on #164
Hey muji -  check out https://github.com/ZenGo-X/fs-dkr !

[2022-03-23 03:17] tmpfs commented on #164
Thanks, @GTC6244, that looks like just what I need! It appears to be using an older version of `multi-party-ecdsa` and `curv-kzen`; before I look into using the code i think it would be good to update those dependencies. If I submit a PR for updating `curv` and `multi-party-ecdsa` in `fs-dkr` would somebody here be willing to review/merge it?

/cc @survived

[2022-03-23 13:23] GTC6244 commented on #164
Yes @tmpfs , it's using GG2018, and, IIRC a custom version of curv-kzen bundled in as code... I believe that the current version of curv-kzen (0.9.0 as of writing) doesn't meet wasm32-unknown-unknown, so there's likely some deeper work to be done.

[2022-03-23 15:25] timoth-y commented on #66
Finally done with this issue on Mac (M1)!

1. Ensure Xcode command-line tools are installed:
[code]

2. Install `libgmp`:
[code]

3. Finally, make sure `rustc` can locate installed lib (put this in `.zshrc` or alike):
[code]
The latter was a final piece of the puzzle for me. Hope that would be also enough for you!

[2022-03-28 13:18] Rwinwij opened #165 "GG_2020: Incorrect Alice's range proof in MtA when Signing"
Dear ZenGo Team,

I am currently trying to use GG_2020 multi-party ECDSA for a crypto wallet project.

I found that the signing will pass if we sign with local-share1 first followed by local-share2, but failed in other order, e.g:
./gg20_signing -p 1,2 -d "hello" -l local-share2.json
./gg20_signing -p 1,2 -d "hello" -l local-share1.json

                                        OR

./gg20_signing -

[2022-03-30 03:20] kanishkatn commented on #161
It always fails for me with the same error. Did y'all get a chance to look into it? @survived @elichai @MatanHamilis

[2022-04-05 02:37] Rwinwij commented on #165
The -p parameter need to specify the local shares used to sign in the correct order.
For the case of signing with local share 3 and local share 1, the command would be:
./gg20_signing -p 3,1 -d "hello" -l local-share3.json
./gg20_signing -p 3,1 -d "hello" -l local-share1.json

[2022-04-05 02:37] #165 closed

[2022-04-05 14:10] drewstone commented on #161
Can confirm this happens with some probability on our end too:
[code]

[2022-04-06 09:17] drewstone commented on #164
I'd be happy to add a review too @tmpfs

[2022-04-10 21:55] DmytroTym commented on #161
Hello everyone!
@drewstone I think your error might be a duplicate of https://github.com/ZenGo-X/multi-party-ecdsa/issues/165. At least I was only able to reproduce it when trying to sign with incorrect keys/keys in the incorrect order.
@eatruffle I'm not sure what is the modification you're suggesting. Anyway, after playing around a little bit, I noticed that sometimes partial signatures that the

[2022-04-19 02:26] tmpfs opened #166 "Publish to crates.io?"
Could you please publish `multi-party-ecdsa` to crates.io?

I would like to depend on this crate and publish to crates.io but cannot as I need to use `git` dependencies to reference `multi-party-ecdsa` which prevents me publishing my crate(s).

[2022-04-25 10:15] tetratorus opened #167 "Proof generated on newly generated Paillier keypair instead of the keypair being returned"
The key generation phase 3 broadcast is using a newly generated Paillier keypair to create the proof instead of using the Paillier keypair which is later being used in the protocol.
https://github.com/ZenGo-X/multi-party-ecdsa/blob/a59b657dc4850a5219e5165424bf85b6b9fb9067/src/protocols/multi_party_ecdsa/gg_2020/party_i.rs#L163

In contrast, referencing the gg18 version, https://github.com/ZenGo-X/

[2022-04-25 18:48] DmytroTym commented on #167
Hi Leonard,
I'm not sure I understand what's the problem that you see. Is it the fact that we generate `N_tilde` by calling a method that creates a Pallier keypair [here](https://github.com/ZenGo-X/multi-party-ecdsa/blob/a59b657dc4850a5219e5165424bf85b6b9fb9067/src/protocols/multi_party_ecdsa/gg_2020/party_i.rs#L140)? If so, I agree that it's confusing, but Paillier public key is just a product of

[2022-04-25 18:51] DmytroTym commented on #167
Also, about gg18 code - it does not have any range proofs (which is, as we now know, pretty insecure) and so does not need and does not have `h_1` and `h_2`. So I don't think you can compare them

[2022-04-25 18:56] DmytroTym commented on #161
@MatanHamilis could we maybe implement this fix? It's a one-liner, I'll do the PR
Also, I could write a better user guide for the demo as at least two people got confused by running parties in the incorrect order and getting errors.
Finally the most important addition to README imo - stating explicitly that GG18 in its current form is insecure (there were also questions about that)

[2022-04-26 15:33] #167 closed

[2022-05-16 03:22] tmpfs opened #168 "Update libsecp256k1 (overflowing signatures vulnerability)"
The version of `libsecp256k1` in use is vulnerable to overflowing signatures: https://rustsec.org/advisories/RUSTSEC-2021-0076.html.

An upgrade to `0.5` or later should fix the issue, any idea on how much effort is required for this update?

Happy to work with you to get this updated 🙏

[2022-05-16 03:32] tmpfs commented on #168
Oh it looks like `libsecp256k1` is only used for testing so I created #169 to add some clarity if anyone else stumbles upon this.

[2022-05-18 12:12] elichai commented on #168
Thanks for reporting.
I'll remove this dependency altogether in exchange for the original secp256k1 library.

[2022-05-18 12:24] #168 closed

[2022-05-22 11:13] elpddev commented on #90
Thank you for a great library.

How to take the last part that is the number array and convert it to public key?

[2022-06-10 02:29] artrepreneur opened #173 "Inconsistent Public Keys"
When signing using gg18, if the same message is signed multiple times as in:  it will result in a unique (r,s) pair each time.

Example, Round 1:
./gg18_sign_client http://127.0.0.1:8000 keys.store "68656c6c6f20776f726c64"
./gg18_sign_client http://127.0.0.1:8000 keys2.store "68656c6c6f20776f726c64"

R: Secp256k1Scalar { purpose: "from_bigint", fe: Zeroizing(Some(SK(SecretKey(9870cfd7bc3fa04b93976

[2022-06-10 21:54] nitron813 opened #174 "Er"

[2022-06-12 01:26] artrepreneur commented on #173
The issue seems to be that the message is not keccak256 or sha3 hashed before signing. Instead, it's hex'd and byte padded with leading zeros.

[2022-07-04 13:50] KunPengRen opened #177 "Anyone knows how to verify the generated threshold signature in solidity?"
Is it possible to verify the generated signature in solidity code?
Is there some work done this?

[2022-07-05 08:57] KunPengRen commented on #173
Are you fix this problem?

[2022-07-05 09:43] KunPengRen commented on #177
Extend question？
How to generate the {r,s,v} format  ecdsa signature?

[2022-07-05 09:59] KunPengRen commented on #173
I try the public key recovery in python where I got the code from https://replit.com/@nakov/ECDSA-public-key-recovery-in-Python#main.py
Message: **hello**
sha3 of message: **0x3338be694f50c5f338814986cdf0686453a888b84f424d792af4b9202398f392**
round1:
party 1 Output Signature:
R: SecretKey(3c2bf68ef8bb5860c664f6d4cc7067b3f678853f2cdbc9dc793b45cdb5fc7529)
s: SecretKey(49d104fe4d2d8bb2953e4e1434f4d67

[2022-07-05 14:35] KunPengRen commented on #177
the problem is solved, I will add some method soon if someone needs

[2022-07-05 14:35] #177 closed

[2022-07-08 00:01] neocho commented on #177
Hey, were you able to recover the public key from local key share by any chance?

[2022-07-08 01:38] alexreyes commented on #177
Hey @KunPengRen, how did you retrieve the public key? That's the part I'm currently trying to figure out

[2022-07-08 13:30] drgomesp commented on #166
I'd also love for that to happen

[2022-07-08 19:03] alexshchur commented on #173
@artrepreneur , reading your logs I can make an assumption that in each of the rounds you're running the command from within the same/single directory and just use different keystores.

If you confirm this is the case, and if you still experience this problem -- let me know, and I would explain how to solve it :)

I ran into this issue by myself, though it got manifested in a different way in my c

[2022-07-08 19:26] alexreyes commented on #173
@alexshchur I'm running into the same issue now, would you be able to explain how to resolve this?

[2022-07-08 21:03] alexshchur commented on #173
So, I think the intent and the way the codebase is designed assumes that, given the initial `params` [config](https://github.com/ZenGo-X/multi-party-ecdsa/blob/68fd58c3b6623fceadbf48f44ac32162ce4704b2/params.json) defining signers amount as 3, you would deploy this codebases onto 3 separate machines (or at least 3 separate folders).

After doing that, as explained in the doc, you probably want to

[2022-07-08 22:01] alexreyes commented on #173
@alexshchur Thanks for response! I just tried that and ended up with the same problems as @artrepreneur.

In `client1` folder I ran:
`./gg18_sign_client http://127.0.0.1:8000 keys.store "68656c6c6f20776f726c64"`

In `client2` folder I ran:
`./gg18_sign_client http://127.0.0.1:8000 keys.store "68656c6c6f20776f726c64"`

The output for the above was:

[code]

Afterwards, I ran the above two commands

[2022-07-09 07:43] alexshchur commented on #173
@alexreyes hm hm it sounds like you're doing everything right. It's weird that you don't receive consistent output.

Check out this my playground codebase. I've recorded a video demonstrating the whole process of creating signatures and then consistently recovering the same public key: https://github.com/alexshchur/tss-experiments#video

[2022-07-09 07:54] KunPengRen commented on #177
@alexreyes https://programmer.ink/think/specific-process-of-ethereum-generating-address-from-public-key.html

[2022-07-09 07:55] KunPengRen commented on #173
@alexreyes @alexshchur From my testing, A message can be generated with two different signatures twice, but the public key will be recovered the same.

[2022-07-09 09:16] alexreyes commented on #173
@alexshchur thanks for the video + sending your repo! That was super helpful and we were able to get it working. I really appreciate it!

@KunPengRen Yup, that seems to be the case. Thanks for confirming!

[2022-07-09 09:49] neocho commented on #173
hey @alexshchur, thanks for the video. I tried out your script. I did the signing process and ended up with the signature.

But when I tried to use ethers.utils.verifyMessage() it outputted a different address than ethers.utils.recoverAddress().

I also tried to verify the message on Etherscan (https://etherscan.io/verifiedSignatures) from ethers.utils.recoverAddress() but it fails.

I generated t

[2022-07-09 09:58] alexshchur commented on #173
@neocho [verifyMessage](https://github.com/ethers-io/ethers.js/blob/master/packages/wallet/src.ts/index.ts#L196) is a bit different. If you look under the hood of [what it does with the supplied message arg](https://github.com/ethers-io/ethers.js/blob/master/packages/hash/src.ts/message.ts#L7), you'll find out that it prepends that ethereum prefix:
[code]

Essentially you end up dealing with a tot

[2022-07-09 10:25] neocho commented on #173
Ahh I see! Will check that out 💯

[2022-07-11 20:33] neocho commented on #173
Hey @alexshchur, have you been able to verify a signature with a tool like this https://etherscan.io/verifiedSignatures? I've been trying to get it to work with recoveredAddress but no luck still Thanks :)

[2022-07-13 21:22] neocho commented on #173
Hey! @alexshchur yea unfortunately I kept getting different addresses after signing. 🤣🤣 I think I'll do a fresh clone and go from there.

[2022-07-14 22:06] artrepreneur commented on #173
Problem is solved for me too. Sigs are consistent. If using Web3.js  use something like:

let myMsgHashAndPrefix = web3.eth.accounts.hashMessage(<your_message_here>);
let netSigningMsg = myMsgHashAndPrefix.substr(2);

[2022-07-19 00:59] tmpfs opened #178 "Question about safe primes in gg20"
The `create_safe_primes()` function calls `generate_h1_h2_N_tilde()`: https://github.com/ZenGo-X/multi-party-ecdsa/blob/c94065fbf37132dccc7955cf2627866e87c162bf/src/protocols/multi_party_ecdsa/gg_2020/party_i.rs#L179-L199

However, in `generate_h1_h2_N_tilde()` the call to `Paillier::keypair_safe_primes()` is commented out: https://github.com/ZenGo-X/multi-party-ecdsa/blob/c94065fbf37132dccc7955cf

[2022-08-02 06:16] t0m1sacat opened #179 "Reshare api or document"
Hi,Is there any document or intro to reshare?

[2022-08-08 21:18] lazarus521 commented on #173
@alexreyes @neocho @alexshchur can you explain what you did to get this working? I'm running into this same issue (same message, different signatures, different public keys) for ETH. If it makes a difference, I'm signing an EIP-1559 transaction type.

For greater context, I using a 2-2 scheme that's based on the gotham-city repo (which uses multi-party-ecdsa). Each node is on its own process and s

[2022-08-28 02:23] 0xYao commented on #161
Hey, I also have the problem of getting the `InvalidSig` error from time-to-time. Did we get a chance to confirm and push the fix for it?

[2022-08-28 17:13] 0xYao commented on #161
Could you expand on why gg18 is insecure?

[2022-08-31 11:00] DmytroTym commented on #161
@0xYao I believe the fix hasn't been implemented yet. As to the (in)security of gg18: the current ZenGo implementation does not use range proofs for MtA subprotocol which was [shown](https://eprint.iacr.org/2021/1621.pdf) to be insecure. The problem is solved in the implementation of gg20.

[2022-09-01 08:04] drewstone opened #180 "Questions and issues around integration into an asynchronous environment"
### Issue
One of the main issues we are having in our environment seems to stem from the fact that peers in our network start the protocol at different times. Since they start at different times, they send the initial messages at different times. It just so happens that we think messages are received by other peers before they have initialized the relevant structs for handling those messages and,

[2022-09-01 14:31] drewstone opened #181 "Is this a malicious action if false?"
https://github.com/ZenGo-X/multi-party-ecdsa/blob/9193fb7d42178fe854688b1874a9a7cd61b540c9/src/protocols/multi_party_ecdsa/gg_2020/state_machine/sign/rounds.rs#L259

[2022-09-02 15:31] DanyloCodeCare commented on #161
Thanks for your help. Despite your advice, I still face this issue. Even if run signing clients in the right order.

[code]
I did the same steps from the tutorial. But unfortunately, sometimes got this issue. Do you know how to prevent this problem?

[2022-09-02 18:40] DanyloCodeCare commented on #161
Problem is solved. Just remove _ from _i here, as DmytroTym mentioned above.

[2022-09-16 13:26] manel1874 commented on #177
I am bit confused with the local-sharei.json file that is generated from gg_keygen.rs. I am trying to use it to retrieve the public key to verify the signature.

pk_vec is the public key vector? If that is the case, shouldn't it be in (x,y) format as it is a point in an Elliptic Curve?

Moreover, is keys_linear the share of the private key owned by each party?

[2022-09-16 14:19] manel1874 commented on #177
I guess the simple answer is that the public key vector is represented in its compressed form.

[2022-09-22 17:00] alexreyes commented on #177
@manel1874 Nope I never did get it to consistently work

[2022-09-22 17:09] duncancmt commented on #177
I only just started reading this repo, so I have no idea how to parse out the pubkey from the local keystore. However, if you have a signature by the key, you can recover the raw public key from the signature. Given `r`, `s` and the message, compute: https://en.wikipedia.org/wiki/Elliptic_Curve_Digital_Signature_Algorithm#Public_key_recovery . This is what `ecrecover` in Solidity does under the ho

[2022-09-23 10:58] manel1874 commented on #177
Thanks @duncancmt! I recovered a raw public key from the signature elements `(r,s,recid)`. However, the retrieved public key is not equal to any of the possible elements in the `local-sharei.txt`. I compared with `y` (which I believe is the real public key), `y_sum_s` and `pk_vec` (here I summed all three EC points). None of them was equal to the retrieved public key.

Most probably I am not conve

[2022-10-10 10:40] #179 closed

[2022-10-17 20:07] oracle58 commented on #166
Any updates on this? Would be really cool!

[2022-10-29 12:07] b33ngo opened #183 "Question about proof of pubkey consist"
Has the protocol some features to proof that the public key participates in the multisig or that the multisig is created  by a set of public keys?
There is some task to proof that some user is part of multisig or some group of users created a multisig. If it is possible how can it be done?

[2022-11-02 17:29] EvanTedesco opened #184 "Link in README to Binance academy article Threshold Signatures Explained broken."
The current README link to `https://www.binance.vision/security/threshold-signatures-explained` results in a 404.

[2022-11-07 13:05] bhaagiKenpachi opened #187 "symbol not found in flat namespace '_rust_crypto_util_fixed_time_eq_asm'"
After cargo build, on running ./run.sh or run20.sh script, getting below error.

keygen part
key gen for client 1 out of 3
dyld[46200]: symbol not found in flat namespace '_rust_crypto_util_fixed_time_eq_asm'
./demo/run.sh: line 21: 46200 Abort trap: 6           ./target/release/examples/gg18_keygen_client http://127.0.0.1:8001 keys"$i".store
key gen for client 2 out of 3
dyld[46202]: symbol not f

[2022-11-15 09:50] lucky1024 opened #188 "No zk proof for N_i"
In GG18 paper, there is a zk proof for N_i in keygen protocol, but I can't find this in source code.

<img width="602" alt="image" src="https://user-images.githubusercontent.com/45564985/201885709-b25eb88a-579c-456e-8545-bae53f143afa.png">

[2022-11-16 17:02] ataki commented on #177
Has anyone here been able to actually issue a signed transaction in a live environment using the gg20 examples?

This and other threads focus on recovery, and while I've recovered the public key, I haven't been able to issue a correct live transaction.

I'm able to get to the same solution @narayanprusty mentioned, i.e. I'm able to sign different messages multiple times and recover the same addres

[2022-11-29 10:39] hcheng826 opened #189 "Is there any instructions or examples for verifying the signature (for gg20)?"
Thanks for the great repository! I have walked through the example for GG20 keygen and signing. I can successfully generate the signature but I don't actually know how to extract the public key and actually verify the generated signature.

Is there any instructions or examples that I can refer to? Thanks!

[2022-11-30 14:37] ataki commented on #189
See https://github.com/ZenGo-X/multi-party-ecdsa/issues/177 and in particular the comments after https://github.com/ZenGo-X/multi-party-ecdsa/issues/177#issuecomment-1178440742